<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593490648668-a8dmkn8kmnofliuq1erc1rubu5lvjsk3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593490648668-a8dmkn8kmnofliuq1erc1rubu5lvjsk3</string>
	<key>API_KEY</key>
	<string>AIzaSyA8W-Tnpi95JnP6nKQ1spJ3PQ9TLQry4HU</string>
	<key>GCM_SENDER_ID</key>
	<string>593490648668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mental.health.app.mentalHealthApp</string>
	<key>PROJECT_ID</key>
	<string>mnetal-health-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mnetal-health-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593490648668:ios:e2c7dcd328f59913161099</string>
</dict>
</plist>